
:root {
    --font-color-normal: #000000;
    --font-color-disabled: hsl(0, 0%, 50%);

    --background-normal: hsl(0, 0%, 95%);
    --border-normal: hsl(0, 0%, 75%);

    --menu-background-normal: hsl(0, 0%, 95%);
    --menu-background-hover: hsl(0, 0%, 90%);
    --menu-background-active: hsl(0, 0%, 80%);

    --table-header-background-normal: hsl(0, 0%, 95%);
    --table-header-background-hover: hsl(0, 0%, 95%);
    --table-header-background-selected: hsl(224, 54%, 90%);

    --table-cell-border-selected: hsl(224, 80%, 50%);
    --table-cell-background-normal: hsl(0, 0%, 100%);
    --table-cell-background-selected: hsl(224, 76%, 95%);

    --input-border-normal: hsl(0, 0%, 77%);
    --input-border-hover: hsl(0, 0%, 60%);
    --input-border-focus: hsl(224, 93%, 84%);
    --input-background-normal: hsl(0, 0%, 100%);
    --input-background-active: hsl(0, 0%, 90%);
    --input-background-disabled: hsl(0, 0%, 91%);

    --button-high-border-normal: hsl(224, 80%, 50%);
    --button-high-border-hover: hsl(224, 80%, 65%);
    --button-high-border-focus: hsl(224, 100%, 75%);
    --button-high-border-disabled: hsl(224, 7%, 55%);
    --button-high-background-normal: hsl(224, 80%, 55%);
    --button-high-background-hover: hsl(224, 90%, 65%);
    --button-high-background-active: hsl(224, 80%, 60%);
    --button-high-background-disabled: hsl(224, 7%, 55%);
    --button-high-color-normal: hsl(0, 0%, 100%);
    --button-high-color-disabled: hsl(0, 0%, 80%);

    --icon-button-background-hover: hsl(0, 0%, 50%, 30%);
    --icon-button-background-active: hsl(0, 0%, 50%, 40%);
}

::selection {
    color: var(--font-color-normal);
    background-color: hsl(210, 95%, 85%)
}

:root {
    font-family: ".AppleSystemUIFont", Inter, sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: var(--font-color-normal);
}

root, tooltip, combobox-popup {
    background-color: var(--background-normal);
}

popupmenu {
    border: 1px var(--border-normal) solid;
    background: var(--menu-background-normal);
    padding: 5px 0;
}

menubar {
    background: var(--menu-background-normal);
    border-bottom: 1px var(--border-normal) solid;
}

menuitem, menu {
    background-color: var(--menu-background-normal);
    padding: 2px 5px;
    color: var(--font-color-normal);

    &:hover {
        background-color: var(--menu-background-hover);
    }

    &:active {
        background-color: var(--menu-background-active);
    }
}

separator {
    background-color: transparent;
    padding: 5px 10px;
    color: var(--border-normal);
}

tooltip {
    padding: 10px;
}

text {
    margin: 2px;
    border: 1px var(--input-border-normal) solid;
    border-radius: 0;
    background-color: var(--input-background-normal);
    padding: 1px 4px;
    color: var(--font-color-normal);

    &:hover {
        border-color: var(--input-border-hover);
    }

    &:focus {
        margin: 1px;
        border: 2px var(--input-border-focus) solid;
    }

    &:disabled {
        border: 1px var(--input-border-normal) solid;
        background-color: var(--input-background-disabled);
        color: var(--font-color-disabled);
    }
}

button {
    margin: 2px;
    border: 1px var(--input-border-normal) solid;
    border-radius: 4px;
    background-color: var(--input-background-normal);
    padding: 2px 15px;
    color: var(--font-color-normal);

    &:hover {
        border-color: var(--input-border-hover);
    }

    &:focus {
        margin: 1px;
        border: 2px var(--input-border-focus) solid;
    }

    &:active {
        background-color: var(--input-background-active);
    }

    &:disabled {
        border: 1px var(--input-border-normal) solid;
        background-color: var(--input-background-disabled);
        color: var(--font-color-disabled);
    }
}

button.s-icon-button {
    margin: 0;
    border: none;
    background-color: transparent;
    padding: 3px;

    &:hover {
        background-color: var(--icon-button-background-hover);
    }

    &:active {
        background-color: var(--icon-button-background-active);
    }

    &:disabled {
        background-color: transparent;
    }
}

button.s-item-button {
    margin: 0;
    border: none;
    background-color: transparent;
    padding: 10px;

    &:hover {
        background-color: var(--icon-button-background-hover);
    }

    &:active {
        background-color: var(--icon-button-background-active);
        color: var(--font-color-normal);
    }

    &:disabled {
        background-color: transparent;
        color: var(--font-color-disabled);
    }
}

button.s-button-high {
    border-color: var(--button-high-border-normal);
    background-color: var(--button-high-background-normal);
    color: var(--button-high-color-normal);

    &:hover {
        border-color: var(--button-high-border-hover);
        background-color: var(--button-high-background-hover);
    }

    &:focus {
        margin: 1px;
        border: 2px var(--button-high-border-focus) solid;
    }

    &:active {
        background: var(--button-high-background-active);
    }

    &:disabled {
        border-color: var(--button-high-border-disabled);
        background: var(--button-high-background-disabled);
        color: var(--button-high-color-disabled);
    }
}

.s-dialog-content-wrapper, .s-dialog-content-wrapper-actions {
    padding: 10px;
}

.s-table-header, .s-table-row-header {
    background-color: var(--table-header-background-normal);
    padding: 2px 4px;
    color: var(--font-color-normal);

    &:active {
        background-color: var(--table-header-background-selected);
    }
}

.s-table-row-header {
    border-right: 1px var(--border-normal) solid;
    border-bottom: 1px var(--border-normal) solid;
}

.s-table-cell-renderer {
    background-color: var(--table-cell-background-normal);
    color: var(--font-color-normal);
    padding: 2px 4px;

    &:active {
        background-color: var(--table-cell-background-selected);
    }

    &:focus {
        border: 2px var(--table-cell-border-selected) solid;
        background-color: var(--table-cell-background-selected);
        padding: 0 2px;
    }
}

.t-table-cell-renderer-top {
    border-top: 1px var(--table-cell-border-selected) solid;
    padding-top: 1px;
}

.t-table-cell-renderer-right {
    border-right: 1px var(--table-cell-border-selected) solid;
    padding-right: 3px;
}

.t-table-cell-renderer-bottom {
    border-bottom: 1px var(--table-cell-border-selected) solid;
    padding-bottom: 1px;
}

.t-table-cell-renderer-left {
    border-left: 1px var(--table-cell-border-selected) solid;
    padding-left: 3px;
}

text.s-table-cell-editor {
    margin: 0;
    border: 2px var(--table-cell-border-selected) solid;
    border-radius: 0;
    background-color: var(--table-cell-background-normal);
    padding: 0 2px;
}
